<form method="get" id="attributes">
	<div style="padding:20px">

		<select id="chkveg" multiple="multiple">
			<option value="Accountability">Accountability</option>
			<option value="Ambition">Ambition</option>
			<option value="Conviction">Conviction</option>
			<option value="Curiosity">Curiosity</option>
			<option value="Empathy">Empathy</option>
			<option value="Gratitude">Gratitude</option>
			<option value="Humility">Humility</option>
			<option value="KindCandor">KindCandor</option>
			<option value="Kindness">Kindness</option>
			<option value="Optimism">Optimism</option>
			<option value="Patience">Patience</option>
			<option value="Self-awareness">Self-awareness</option>
			<option value="Tenacity">Tenacity</option>
			<option value="Special">Special</option>
		</select>

		<br /><br />

	</div>
</form>

<form method="get" id="spectaculars">
	<div style="padding:20px">

		<select id="chkveg1" multiple="multiple">
			<option value="Buble Gum">Buble Gum</option>
			<option value="Diamond">Diamond</option>
			<option value="Gold">Gold</option>
			<option value="Hologram">Hologram</option>
			<option value="Lava">Lava</option>
		</select>

		<br /><br />

	</div>
</form>

<form method="get" id="token_frames">
	<div style="padding:20px">

		<select id="chkveg2" multiple="multiple">
			<option value="Black">Black</option>
			<option value="Caviar">Caviar</option>
			<option value="Champange">Champange</option>
			<option value="Clear">Clear</option>
			<option value="Emerald">Emerald</option>
			<option value="Fur">Fur</option>
			<option value="Galaxy">Galaxy</option>
			<option value="Gold">Gold</option>
			<option value="Granite">Granite</option>
			<option value="Marble">Marble</option>
			<option value="Neon">Neon</option>
			<option value="Pearl">Pearl</option>
			<option value="Rainbow">Rainbow</option>
			<option value="Silver">Silver</option>
			<option value="Wood">Wood</option>
		</select>

		<br /><br />

	</div>
</form>