{% extends 'main/base.html' %}
{% load static %}


{% block content %}

	<div class="content">
		<div>
			<div class="market-filter">

				<div class="filter-wrapper-upper">
					<img class="img-header" src="{% static 'main/img/header.jpg' %}" width="90%" height="90%" style="margin: 20px 10px 20px 10px;" alt="FURIOUS">
				</div>

				<div  class="filter-wrapper">
					<form class="filter-wrapper-in" method="get" id="attributes">
						<div>
							<h5>Attributes:</h5>
							<span class="custom-dropdown">
								<select class="checkbox" id="chkveg" multiple="multiple">
									<option  value="Accountability">Accountability</option>
									<option value="Ambition">Ambition</option>
									<option value="Conviction">Conviction</option>
									<option value="Curiosity">Curiosity</option>
									<option value="Empathy">Empathy</option>
									<option value="Gratitude">Gratitude</option>
									<option value="Humility">Humility</option>
									<option value="KindCandor">KindCandor</option>
									<option value="Kindness">Kindness</option>
									<option value="Optimism">Optimism</option>
									<option value="Patience">Patience</option>
									<option value="Self-awareness">Self-awareness</option>
									<option value="Tenacity">Tenacity</option>
									<option value="Special">Special</option>
								</select>
							</span>
							<br /><br />

						</div>
					</form>

					<form method="get" id="spectaculars">
						<div class="filter-wrapper-in">
							<h5>Spectaculars:</h5>
							<select id="chkveg1" multiple="multiple">
								<option value="Buble Gum">Buble Gum</option>
								<option value="Diamond">Diamond</option>
								<option value="Gold">Gold</option>
								<option value="Hologram">Hologram</option>
								<option value="Lava">Lava</option>
							</select>

							<br /><br />

						</div>
					</form>

					<form method="get" id="token_frames">
						<div class="filter-wrapper-in">
							<h5>Token Frames:</h5>
							<select id="chkveg2" multiple="multiple">
								<option value="Black">Black</option>
								<option value="Caviar">Caviar</option>
								<option value="Champange">Champange</option>
								<option value="Clear">Clear</option>
								<option value="Emerald">Emerald</option>
								<option value="Fur">Fur</option>
								<option value="Galaxy">Galaxy</option>
								<option value="Gold">Gold</option>
								<option value="Granite">Granite</option>
								<option value="Marble">Marble</option>
								<option value="Neon">Neon</option>
								<option value="Pearl">Pearl</option>
								<option value="Rainbow">Rainbow</option>
								<option value="Silver">Silver</option>
								<option value="Wood">Wood</option>
							</select>

							<br /><br />

						</div>
					</form>

					<input class="button24" type="button" id="btnget" value="SEARCH" />



				</div>


			</div>
		</div>
		<div class="market-container">
			<div class="prev-next">
				<div class="prev-next-wrapper">

					<input class="prev-button" type="button" id="prev" value="prev" />
					<input class="next-button" type="button" disabled id="next" value="next" />
				</div>

			</div>


			{% for i in data.result %}

				<div class="card">
					<div class="card-nav">


						<div class="listing-bground">
							<div class="listing-image-wrapper-padding">
								<div class="listing-image-wrapper">
									<div class="listing-image-area"><a target="_blank" href="#"><img
												alt="{{ i.sell.data.properties.name }}"
												src="{{ i.sell.data.properties.image_url }}"
												class="listing-image-object-fit listing-high-contrast-image"></a></div>
								</div>
							</div>
							<div class="listing-info">
								<div class="listing-name">{{ i.sell.data.properties.name }}</div>
								<div class="listing-price"><img
										src="https://design-system.immutable.com/currency_icons/currency--eth.svg" alt="ETH"
										class="listing-price-img thin-icon"><span>{{ i.buy.data.price }}</span></div>
							</div>
							<div class="listing-HUD">
								<div class="HUD-row">




								</div>
							</div>
						</div>



					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<script>
		$(function () {

			$('#chkveg').multiselect({
				includeSelectAllOption: true
			});

			$('#chkveg1').multiselect({
				includeSelectAllOption: true
			});

			$('#chkveg2').multiselect({
				includeSelectAllOption: true
			});

			$('#btnget').click(function () {
				attributes = ($('#chkveg').val());
				console.log(attributes)
				spectaculars = ($('#chkveg1').val());
				token_frames = ($('#chkveg2').val());
				var privet = attributes;
				window.location.href = "?attributes=" + attributes + "&spectaculars=" + spectaculars + "&token-frames=" + token_frames + "&cursor=";


			});

			document.getElementById("prev").removeAttribute("disabled");
			$('#prev').click(function () {
					history.back();

			});

			document.getElementById("next").removeAttribute("disabled");
			$('#next').click(function () {

				url = window.location.href
				regex = /shop\W\W(.+)cursor=/g;
				if (url.search(regex)) {
					var attributes = [];
					var spectaculars = [];
					var token_frames = [];
					var cursor = '{{ data.cursor }}';
					var from = url.search('shop/');
					var to = url.search('&spectaculars');
					attributes.push((url.substring(from,to)).slice(17));
					var from = url.search('&spectaculars=');
					var to = url.search('&token-frames=');
					spectaculars.push((url.substring(from,to)).slice(14));
					var from = url.search('&token-frames=');
					var to = url.search('&cursor');
					token_frames.push((url.substring(from,to)).slice(14));
					if ({{ data.remaining }} == 1) {
						if ( url.includes("attributes") ) {
							window.location.href = "?attributes=" + attributes[0] + "&spectaculars=" + spectaculars[0] + "&token-frames=" + token_frames[0] + "&cursor=" + cursor;
						}else {
							window.location.href = "?attributes=" + "&spectaculars=" + "&token-frames=" + "&cursor=" + cursor;
						}
					}else {
						document.getElementById("next").setAttribute("disabled", "disabled");
					}

				}
			});


		});
	</script>





{% endblock %}
